input,
textarea {
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgba(70, 69, 69, 0.562);
  color: white
}
input:focus,
textarea:focus {
  border: 1px solid red;
}
label{
    font-family: 'Cabin';
    font-size: 30px;
}
form button {
    margin: 0;
    margin-top: 1rem;
    font-family: 'Cabin';
  }
  
  .col-md-6 {
    max-width: 40%;
  }
  
  .row {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .submit-button {
    text-align: center;
  }
  
  label {
    padding-left: 10px;
    padding-bottom: 3px;
    float: left;
  }
  
  @media (max-width: 999px){
      .col-md-6{
          max-width: 100%;
      }
  }
  