<form (ngSubmit)='submitQuotes()' #quoteForm='ngForm'>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <label for="name information">Your Name.</label>
            <input placeholder="Write your full Name " type="text" required class="form-control" id="name information"
                [(ngModel)]="newQuotes.information" name='information' #information="ngModel">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
  
          <label for=" authors information">The Authors Name</label>
          <input placeholder="Write author's full names" type="text" required class="form-control"
              id=" authors information" [(ngModel)]="newQuotes.author" name='author' #author="ngModel"><br>
              <label for="complete">Date</label>
              <input type='date' id="complete" required>
      </div>
      </div>

      <div class="col-md-6">
        

            <div class="form-group">

                <label for="name">Quote</label>
                <textarea placeholder="Enter quote " class="form-control" id="name" rows="4" required
                    [(ngModel)]="newQuotes.name" name='name' #name="ngModel"></textarea>
  
  
            </div>
      </div><br>
    </div>
    <div class="row">
      <div class="col-md-12 submit-button">
        <button type="submit" class="btn btn-outline-light btn-lg">Add Your Quote</button>
      </div>
    </div>
  </form>